*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
:root {
    --font-family-roboto: 'roboto';
}


h1 {
  font-size: 58px;
}

h2 {
  font-size: 32px;
}

input {
  -webkit-appearance: none;
}