
body {

    background-color: black;
}

.app-container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    margin: 0 auto;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    background-color: black;
    color: white;
    padding: 15px 0;
    transition: all 0.5s ease;
}

.header-col-1 {
    display: flex;
    flex-direction: column;
}

.header-col-2 {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-button {
    display: none;
    position: absolute;
    left: 0;
    transition: all 0.5s ease;
}

.nav-button-active {
    color: black;
    transform: rotate(180deg);
}


#nav-button-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 2;
}

#nav-button-container > h4 {
    display: none;
}

#nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    background-color: white;
    z-index: 1;
}

#nav-list > li {
    text-align: center;
    height: 100%;
    width: 100%;
    color: black;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}

#nav-list > li:hover {
    background: rgb(255,40,40);
}

.form-container {
    display: flex;
    margin-top: 50px;
}

#mid-content-grid {
    display: flex;
    grid-auto-rows: minmax(min-content, max-content);
    flex-direction: column;
    grid-template-columns: 1fr 2fr 1fr;
}

#mid-content-banner {
    height: 15px;
    background-color: #FF2828;
}

#footer-grid  {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    min-height: 100px;
    background-color: rgba(15, 15, 22, .5);
    text-align: center;
    color: white;
}

#footer-col-2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.header-headings {
    display: flex;
    position: relative;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.header-headings > * {
    margin: 0;
    padding: 0;
}

.header-headings > h4 {
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 50px;
    width: 180px;
}

.search-submit-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#search-input, #type-input {
    background-color: #F9F9F9;
    border: none;
    height: 45px;
    padding-left: 15px;
    font-weight: 500;
    width: 100%;
}

#type-input {
    width: 150px;
    margin-right: 15px;
}

#submit-input {
    transition: border 0.5s ease;
    position: absolute;
    height: 45px;
    width: 80px;
    border: none;
    background-color: #FF2828;
    color: white;
    font-weight: 700;
    
}

#submit-input:hover {
    background-color: #FF5A5A;
}

#submit-input:active {
    background-color: #FF2828;
}

#search-input:focus {
    outline: none;
}

.available-on-text {
    font-weight: 1000;
    font-size: xx-large;
}

#results-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:200px;
}

.search-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    gap: 1em;
    padding-bottom: 50px;
}

.search-result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 300px;
    padding-left: 15px;
    padding-right: 25px;
    transition: all 0.2s ease-out;
}

.search-result-item:hover {
    padding-right: 20px;
}
#netflix-badge {
    border-color: #E50914;
    background-color: rgba(229, 9, 20, 0.08);
    border-bottom: 5px solid #E50914;
    border-radius: 10px;
    color: #E50914;
}
#netflix-badge:hover {
    box-shadow: 0 0 20px 0 #E50914;
}
#hulu-badge {
    border-color: #1CE783;
    background-color: rgba(28, 231, 131, 0.08);
    border-bottom: 5px solid #1CE783;
    border-radius: 10px;
    color: #1CE783;
}
#hulu-badge:hover { 
    box-shadow: 0 0 20px 0 #1CE783;
}
#hbomax-badge {
    border-color: #691CE7;
    background-color: rgba(105, 28, 231, 0.08);
    border-bottom: 5px solid #691CE7;
    border-radius: 10px;
    color: #691CE7;
}
#hbomax-badge:hover {
    box-shadow: 0 0 20px 0 #691CE7;
}

#disneyplus-badge {
    border-color: #101C50;
    background-color: rgba(16, 28, 80, 0.08);
    border-bottom: 5px solid #101C50;
    border-radius: 10px;
    color: #101C50;
}
#disneyplus-badge:hover {
    box-shadow: 0 0 20px 2px aqua;
}


#movie-poster-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    color: white;
    gap: 35px;
    margin: 35px;
}

.poster-container {  
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    max-width: 300px;
}


.poster-image {
    width: 100%;
    height: 100%;
}

.blur-poster {
    filter: blur(5px);
}

.fallback-poster-background {
    width: 100%;
    text-align: center;
    font-size: x-large;
    padding: 5px;
    border: 2px solid white;
    border-radius: 15px;
}


.poster-services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding: 5px;
}

.poster-service-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    text-transform: uppercase;
    text-align: center;
    padding: 1px;
    z-index: 1;
    border: 5px solid white;
    border-radius: 15px;
}

#poster-service-activate-icon {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 15px;
    padding-bottom: 35px;
    color: white;
    z-index: 2;
}

#service-icon-background {
    color: black;
    opacity: 0.8;
}


.active {
    visibility: visible;
}

#service-helper-text {
    background-color: rgba(255,255,255, 0.1);
    padding: 4%;
    border-radius: 5px;
    text-shadow: 0 3px black;
}

#service-badge-link {
    display: block;
    position: relative;
}

.poster-service-icon {
    width: 50px;
    height: 50px;
    outline: 2px solid white;
    border-radius: 50%;
}


.poster-service-icon:hover {
    outline: 4px solid white;
}


@media (max-width: 1050px) {

    #movie-poster-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 770px) {

    #movie-poster-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 550px) {


    .show-nav-menu > * {
        display: none;
    }
    

    #nav-button-container > h4 {
        display: block;
    }
    

    nav {
        overflow: hidden;
    }

    .nav-button {
        display: inline-block;
        padding: 10px;
    }


    #nav-list {
        flex-direction: column;
        margin-bottom: 15px;
        background-color: transparent;
    }

    #nav-list > li {
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 5px 0;
        border: 1px solid white;
        margin: 5px 0;
        color: white;
    }

    .header-grid {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 0 15px 15px 15px; 
    }

    .header-col-2 {
        grid-column: 1;
    }

    .form-container {
        flex-direction: column;
        gap: 15px;
    }

    .header-headings > h4 {
        top: 80px;
    }


    #type-input {
        width: 100%;
    }

    .search-submit-container {
        grid-row-start: 2;
    }

    #movie-poster-grid {
        grid-template-columns: 1fr;
    }
}



