
body {

    background-color: black;
}

.app-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0 auto;
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    background-color: black;
    color: white;
    padding: 15px 0;
}

.header-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-right: 25px;
    grid-column-start: 1;
}
.header-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2;
}

#nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-col-1 > * {
    padding-left: 15px;
}

#nav-list > li {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    background: none;
}

#nav-list > li:hover {
    background: rgb(255,40,40);
    background: linear-gradient(90deg, rgba(255,40,40,0.7861344366848302) 0%, rgba(255,255,255,0) 74%); 
}

.form-container {
    display: flex;
}

#mid-content-grid {
    display: flex;
    grid-auto-rows: minmax(min-content, max-content);
    flex-direction: column;
    grid-template-columns: 1fr 2fr 1fr;
}

#mid-content-banner {
    height: 15px;
    background-color: #FF2828;
}

#footer-grid  {
    display: grid;
    grid-row-start: 3;
    grid-template-columns: 1fr 2fr 1fr;
    min-height: 100px;
    background-color: rgba(15, 15, 22, .5);
    text-align: center;
    color: white;
}

#footer-col-2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.header-headings {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.search-submit-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#search-input, #type-input {
    background-color: #F9F9F9;
    border: none;
    height: 45px;
    padding-left: 15px;
    border-radius: 8px;
    font-weight: 500;
    width: 100%;
}

#type-input {
    width: 150px;
    margin-right: 15px;
}

#submit-input {
    transition: border 0.5s ease;
    position: absolute;
    height: 45px;
    width: 80px;
    border: none;
    background-color: #FF2828;
    border-radius: 0 5px 5px 0;
    color: white;
    font-weight: 700;
    
}

#submit-input:hover {
    background-color: #FF5A5A;
}

#submit-input:active {
    background-color: #FF2828;
}

#search-input:focus {
    outline: none;
}

.available-on-text {
    font-weight: 1000;
    font-size: xx-large;
}

#results-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:200px;
}

.search-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    gap: 1em;
    padding-bottom: 50px;
}

.search-result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 300px;
    padding-left: 15px;
    padding-right: 25px;
    transition: all 0.2s ease-out;
}

.search-result-item:hover {
    padding-right: 20px;
}
#netflix-badge {
    border-color: #E50914;
    background-color: rgba(229, 9, 20, 0.08);
    border-bottom: 5px solid #E50914;
    border-radius: 10px;
    color: #E50914;
}
#netflix-badge:hover {
    box-shadow: 0 0 20px 0 #E50914;
}
#hulu-badge {
    border-color: #1CE783;
    background-color: rgba(28, 231, 131, 0.08);
    border-bottom: 5px solid #1CE783;
    border-radius: 10px;
    color: #1CE783;
}
#hulu-badge:hover { 
    box-shadow: 0 0 20px 0 #1CE783;
}
#hbomax-badge {
    border-color: #691CE7;
    background-color: rgba(105, 28, 231, 0.08);
    border-bottom: 5px solid #691CE7;
    border-radius: 10px;
    color: #691CE7;
}
#hbomax-badge:hover {
    box-shadow: 0 0 20px 0 #691CE7;
}

#disneyplus-badge {
    border-color: #101C50;
    background-color: rgba(16, 28, 80, 0.08);
    border-bottom: 5px solid #101C50;
    border-radius: 10px;
    color: #101C50;
}
#disneyplus-badge:hover {
    box-shadow: 0 0 20px 2px aqua;
}


#movie-poster-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

.poster-container {  
    display: flex;
    position: relative;
    width: 20%; 
    overflow: hidden;
    margin: 15px;
}


.poster-image {
    min-width: 100%;
    min-height: 100%;
    border-radius: 15px;
}

.fallback-poster-background {
    width: 100%;
    text-align: center;
    font-size: x-large;
    padding: 5px;
    border: 2px solid white;
    border-radius: 15px;
}


.poster-services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 15px;
    padding: 5px;
}

.poster-service-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    text-transform: uppercase;
}

#poster-service-activate-icon {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 35px;
    color: black;
}

#service-icon-background {
    color: white;
}
.active {
    visibility: visible;
}

.poster-service-icon {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
}